body {
    margin: 10px;
    background-color: rgb(241, 241, 142);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    text-align: center;
    justify-content: center;
}

.div {
    padding: 15px;
}

input {
    border-radius: 10px;
    border: none;
    background-color: pink;
    padding: 5px;
}

label {
    justify-content: center;
    margin-top: 10px;
}

form {
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 15px 40px;
}

.name {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: left;

}

.dobemail {
    display: flex;
    gap: 15px;
    justify-content: left;
}

.color {
    margin-top: 10px;
    justify-content: center;
}

.bio {
    margin-top: 10px;
    border: none;
}

.submit {
    margin-top: 10px;
}

textarea {
    border: none;
}

#submit {
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px
}