body {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4000;
}

.logo {
    align-items: center;
    width: 100%;
    max-width: 150px;

}

.fullpage {
    max-width: 1400px;
    padding: 4%;
}

.navlink {
    display: flex;
    gap: 40px;
    font-weight: 400;
    align-items: center;
    width: 80%;
    justify-content: flex-end;

}

.submenu {
    display: none;
    position: absolute;
    width: 150px;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 8;
    padding: 10px 0;
}

.submenu a {
    display: block;
    padding: 5px;
    padding: 10px 16px;
    color: black;
    text-decoration: none;
    font-size: 10px;
}

.menu-item:hover .submenu {
    display: block;
    background-color: #afafae;
    border-radius: 4px;
}

.menu-item {
    position: relative;
}

.navlink a {
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 450;
    margin: 0 10px;
    justify-content: space-between;
}

.navlink a.active {
    color: black;
    background-color: #B9FF66;
    padding: 4px 10px;
    border-radius: 5px;
}


.hamburger-icon {
    display: block;
}

.navlink2 {
    display: none;
}


.quote {
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 10px 24px;
    background-color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    display: flex;
    gap: 25px;
    margin-left: 10px;
    font-size: 16px;

}

.quote:hover {
    background-color: black;
    color: white;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 60px 80px;

    border-radius: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.active {
    background-color: #B9FF66;
    border: 1px solid #B9FF66;
    border-radius: 5px;
}

@media (max-width: 770px) {
    .navlink {
        display: none;
    }

    .navlink2 {
        display: block;
    }

    .hamburger-icon {
        display: block;
        font-size: 32px;
        color: black;
    }

    .mobile-menu {
        display: flex;
        background: #222;
        z-index: 3000;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;

        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;
    }

    .mobile-menu.active {
        opacity: 1;
        pointer-events: auto;
    }
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
}




.mobile-menu a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}