body {
    margin: 10px;
    background-color: rgb(241, 241, 142);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    text-align: center;
    justify-content: center;
    font-weight: 700;
}

.div {
    padding: 15px;
}

input {
    border-radius: 12px;
    border: none;
    background-color: pink;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    box-sizing: border-box;
}

.label {
    justify-content: left;
    margin-top: 5px;
}

form {
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 25px 35px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.name {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    justify-content: left;

}

.dobemail {
    display: flex;
    gap: 15px;
    justify-content: left;
    margin-bottom: 15px;
}

.url-color {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.home {
    margin-top: 10px;
}

.color {
    margin-top: 10px;
    justify-content: center;
}

select {
    border-radius: 12px;
    border: none;
    background-color: pink;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    box-sizing: border-box;
}

.select {
    display: flex;
}

.bio {
    margin-top: 15px;
    border: none;
}

.submit {
    margin-top: 10px;
}

textarea {
    border-radius: 12px;
    border: none;
    background-color: pink;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    box-sizing: border-box;
}

#submit {
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}