.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.text-area {
    width: 40%;
}

.text-area h1 {
    font-size: 55px;
}

.text-area p {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 20px;
    text-align: justify;
}

.image1 {
    text-align: right;
    /* margin-left: 5px;
    margin-right: 50px; */
    width: 45%;

}

.image-block {
    display: none;
}

.Booking {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.Booking:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.image2 {
    filter: grayscale(100%);
}

.image2 {
    align-items: center;
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    height: 45px;
    width: auto;
}

.image2 img {
    width: 12%;
}

.text {
    font-size: 30px;
}

.mobile-menu {
    display: none;
}

@media (max-width: 770px) {
    .fullpage {
        padding: 20px
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
    }

    .text {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px 20px;
        gap: 20px;
    }

    .text-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-area h1 {
        font-size: 32px;
        line-height: 1.3;
        margin-bottom: 15px;
        text-align: left;
        width: 100%;
    }

    .image1 {
        width: 50%;
        text-align: center;
        margin: 10px 0;
        display: none;
    }

    .image1 img {
        width: 85%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .text-area p {
        font-size: 16px;
        text-align: left;
        line-height: 1.6;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .image-block {
        display: block;
    }

    .Booking {
        font-size: 16px;
        padding: 15px 25px;
        display: inline-block;
        margin: 0 auto;
        width: 100%;
    }

    .image2 {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
        gap: 20px;
    }

    .image2 img {
        width: 100px;
        margin: 10px;
    }

    .navlink {
        display: none;
    }

    .navlink2 {
        display: block;
        font-size: 30px;
        color: #000;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #222;
        z-index: 3000;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;

        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;
    }

    .mobile-menu.active {
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu a {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    .close-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 2.5rem;
        color: white;
        cursor: pointer;
    }


}