body {
    font-family: "Space Grotesk", sans-serif;
    padding: 10px 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 40px;
}

.navlink {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-weight: 500;
    align-items: center;
    padding: 10px 20px;
}

.navlink a {
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: 450;
    margin: 0 10px;
    justify-content: space-between;
}

.navlink a.active {
    color: black;
    background-color: #B9FF66;
    padding: 4px 10px;
    border-radius: 5px;
}


.navlink2 {
    display: none;
}


.quote {
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 10px 24px;
    background-color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    display: flex;
    gap: 25px;
    margin-left: 10px;

}

.quote:hover {
    background-color: black;
    color: white;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 60px 80px;
    background-color: #F3F3F3;
    border-radius: 20px;
    flex-wrap: wrap;
}

.text-block {
    text-align: left;
    max-width: 600px;
}

.text-block h2 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.2;
    text-align: left;
}

.text-block p {
    line-height: 1.6;
    color: #333;
    font-size: 18px;
    font-weight: 400;

}

.image-block {
    justify-content: center;
    align-items: center;
}

.image-inline {
    display: none;
}

.image-inline img {
    width: 250px;
    border-radius: 15px;
    margin: 20px auto;
    display: block;
}

.image-block img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    display: block;
}

.image img {
    border-radius: 12px;
    height: auto;
    width: 300px;
}

.text-block {
    flex: 1;
    min-width: 280px;
}

.text-block h1 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.2;
}

.text-block p {
    line-height: 1.6;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
}

.text-area h1 {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
    margin: 30px 0;
    margin-right: 30px;
    flex-wrap: wrap;
}

.text-area p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    display: flex;
    line-height: 1.6;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.text2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #191A23;
    color: #ffffff;
    border-radius: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 40px;
}

.text-area2 {
    flex: 1;
    min-width: 250px;
    font-weight: 400;
    line-height: 1.6;
}

.green {
    background-color: #B9FF66;
    color: black;
    text-decoration: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 500;
    padding: 2px 5px;

}

.text-area2 p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: lighter;
    display: flex;
}

@media(max-width:770px) {
    .quote {
        display: none;
    }

    .logo {
        height: 70px;
        padding: 0 20px;
    }

    .navlink {
        display: none;
    }

    .navlink2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;

    }

    .hamburger-icon {
        display: block;
        line-height: 1;
        height: 24px;
    }

    .section {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .image-block {
        display: none;
    }

    .image-inline {
        display: block;
    }

    .image-inline img {
        width: 250px;
        border-radius: 15px;
        margin: 20px auto;
        display: block;
    }

    .image-block img {
        width: 250px;
        border-radius: 15px;
        margin: 20px auto;
        display: block;
    }

    .image img {
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
    }

    .text-block h1 {
        font-size: 28px;
        text-align: center;
        font-size: 28px;
        line-height: 1.3;
    }

    .text-block p {
        font-size: 16px;
        line-height: 1.5;
        max-width: 100%;
    }

    .text1 {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
        gap: 20px;
    }

    .text-area {
        max-width: 100%;
    }

    .text-area h1 {
        font-size: 20px;
    }

    .text-area p {
        font-size: 15px;
        line-height: 1.5;
        color: #000000;
    }

    .text2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .stat-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-height: 100%;
        gap: 15px;
        margin: 0 auto;
    }

    .errow {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}

.read-btn {
    font-weight: 500;
    color: #B9FF66;
    text-decoration: none;
    font-size: 16px;
    margin-top: 30px;
    display: inline-block;
}

.stat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.box {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 45%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.box h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.box p {
    font-size: 14px;
    line-height: 1.3;
}