body {
    margin: 20;
    font-family: "Space Grotesk", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    height: auto;
    width: 200px;
    margin: 10px;
    margin-left: 60px;
    margin-right: 30px;
}

.navlink {
    display: flex;
    gap: 20px;
    justify-content: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    text-align: center;
}

.navlink a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 16px;

}

.quote {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 18px 35px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 5px;
    margin-right: 50px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 450;

}

.quote:hover {
    background-color: rgb(4, 4, 4);
    color: white;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
}

.text-area h1 {
    margin: 30px 0;
    margin-bottom: 10px;
    max-width: 500px;
    font-size: 55px;
    margin-left: 60px;
    margin-right: 30px;
}

.text-area p {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 20px;
    text-align: justify;
    max-width: 500px;
    margin-left: 60px;
    margin-right: 10px;
}

.image1 {
    text-align: right;
    margin-left: 5px;
    margin-right: 50px;
}

.Booking {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Space Grotesk", sans-serif;
    margin-left: 60px;
}

.Booking:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.image2 {
    filter: grayscale(100%);
}

.image2 {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    height: 45px;
    width: auto;
    margin: 30px;
    margin-left: 60px;
    margin-right: 60px;
}