.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
}

.text-area h1 {
    margin-bottom: 10px;
    font-size: 55px;
}

.text-area p {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 20px;
    text-align: justify;
}

.image1 {
    text-align: right;
    margin-left: 5px;
    margin-right: 50px;
}

.Booking {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Space Grotesk", sans-serif;
}

.Booking:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.image2 {
    filter: grayscale(100%);
}

.image2 {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    height: 45px;
    width: auto;
    margin: 30px;
    margin-left: 60px;
    margin-right: 60px;
}