body {
    margin: 0;
    color: #000000;
}

.blog-section {
    text-align: center;
}

.blog-section h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.subtitle {
    color: #666;
    max-width: 700px;
    margin: 15px auto 40px;
    line-height: 1.6;
}

.blog-grid {
    display: flex;
    gap: 25px;
}


.blog-card img {
    width: 100%;
    border-radius: 30px;
}

.card-text {
    background: #fff;
    padding: 20px;
}

.card-text h3 {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.readmore {
    display: inline-block;
    color: #3cb46e;
    font-weight: 400;
    text-decoration: none;
}