body {
    margin: 0;
    color: #333;
}

.blog-section {
    text-align: center;
    padding: 30px 10px;
    max-width: 1200px;
    margin: auto;
}

.blog-section h1 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.subtitle {
    color: #666;
    max-width: 700px;
    margin: 15px auto 40px;
    line-height: 1.6;
}

.blog-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.blog-item {
    width: 100%;
    max-width: 30%;
    text-align: center;
}


.blog-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.text-box {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}

.text-box h3 {
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.4;
}

.readmore {
    display: inline-block;
    color: #3cb46e;
    font-weight: 600;
    text-decoration: none;
}

.blog-grid1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.blog-item1 {
    width: 100%;
    max-width: 30%;
    text-align: center;
}


.blog-item1 img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}