body {
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 3px 6px #000000;
    overflow: hidden;
    padding: 20px;
    width: 80%;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    align-items: center;
    justify-items: center;
    border-radius: 15px;

}

.card h3 {
    font-size: 20px;
    font-weight: 600;
}

.card p {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 15px 0 10px 0;
    font-size: 20px;
}

.people {
    font-size: 14px;
}

.smallcard {
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 6px #00000020;
    padding: 15px;
    text-align: center;
    width: 100%;
}


.complete {
    height: 6px;
    background-color: rgb(122, 18, 137);
    border-radius: 3px;
    margin: 8px 0;
    width: 40%;
}

.status {
    color: rgb(172, 169, 172);
    font-weight: bold;
    margin-bottom: 5px;
}