body {
    margin: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "DM Sans", sans-serif;
}

.containerrelative {
    position: relative;
    width: 30%;
}

.container {
    border-radius: 20px;
    box-shadow: 0 2px 10px #2094e1;
    padding: 20px;
    width: 70%;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 5px;
}

.card p {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: rgb(182, 182, 182);
}

.iconcircle {
    width: 40%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.iconcircle div {
    border-radius: 15px;
    background-color: rgb(182, 182, 182);
    position: relative;


}

.icons img {
    width: 60%;
    align-items: center;
    justify-content: center;
}


.people {
    font-size: 14px;
    margin-top: 15px;
    color: rgb(182, 182, 182);
    display: flex;
    align-items: center;
    gap: 10px;

}

.people img {
    width: 5%;
    opacity: 0.7;
}


.hearticon {
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 5%;
    opacity: 0.7;
    align-items: center;
}

.circle {
    width: 60%;
    height: 40px;
    border-radius: 50%;

}

.smallcard {
    border-radius: 15px;
    box-shadow: 0 2px 6px #00000090;
    padding: 15px;
    text-align: center;
    width: 55%;
    position: absolute;
    right: -35px;
    bottom: 30px;
    text-align: center;
    background-color: white;
    display: flex;
    height: 100px;
}


.smallcard p {
    margin: 3px 0;
    font-weight: bold;
    text-align: center;
}

.percentcomplete {
    display: flex;
    gap: 10px
}

.complete {
    position: relative;
    height: 6px;
    background-color: #eee;
    border-radius: 3px;
    margin: 8px 0;
    text-align: center;

}

.completeFill {
    position: absolute;
    height: 100%;
    width: 40%;
    background: #6a17d9;
    border-radius: 4px;

}

.status {
    color: rgb(172, 169, 172);
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.status p {
    color: black;
    text-align: left;
    font-size: 20px;
}


.percent {
    margin-top: 5px;
    font-size: 14px;
    color: #6a17d9;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.percent1 {
    color: black;
    display: flex;
    font-size: 15px;
    align-items: center;
}

.cardsWrapper {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 768px) {
    body {
        margin: 10px;
        display: block;
    }

    .cardsWrapper {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .containerrelative {
        width: 90%;
    }

    .iconcircle {
        width: 30%;
        gap: 15px;
    }

    .icons img {
        width: 45%;
    }

    .people img {
        width: 8%;
    }

    .hearticon {
        width: 8%;
        right: 15px;
    }

    .smallcard {
        width: 50%;
        right: -10px;
        bottom: 20px;
        height: auto;
        padding: 10px;
    }

    .circle {
        width: 50px;
        height: 50px;
    }

    .status p {
        font-size: 12px;
    }
}