body {
    margin: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.containerrelative {
    position: relative;
    width: 30%;
}

.container {
    border-radius: 20px;
    box-shadow: 0 3px 6px #000000;
    padding: 20px;
    width: 100%;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 5px;
}

.card p {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.icons {
    display: flex;
    gap: 15px;
    margin: 15px 0 8px;
    font-size: 20px;
}

.people {
    font-size: 14px;
}

.circle {
    width: 20%;
    height: 70px;
    border-radius: 50%;
}

.smallcard {
    border-radius: 15px;
    box-shadow: 0 2px 6px #00000090;
    padding: 15px;
    text-align: center;
    width: 80%;
    position: absolute;
    right: -250px;
    bottom: -5px;
    text-align: center;
}

.smallcard p {
    margin: 3px 0;
    font-weight: bold;
    text-align: center;
}

.complete {
    position: relative;
    height: 6px;
    background-color: #eee;
    border-radius: 3px;
    margin: 8px 0;
    width: 40%;
    text-align: center;
}

.completeFill {
    position: absolute;
    height: 100%;
    width: 40%;
    background: #6a17d9;
    border-radius: 4px;

}


.status {
    color: rgb(172, 169, 172);
    font-weight: bold;
    margin-bottom: 5px;
}

.percent {
    margin-top: 5px;
    font-size: 12px;
    color: #6a17d9;
    font-weight: bold;
}