.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink a {
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 450;
    margin: 0 10px;
    justify-content: space-between;
}

.navlink a.active {
    color: black;
    background-color: #B9FF66;
    padding: 4px 10px;
    border-radius: 5px;
}

.hamburger-icon {
    font-size: 28px;
}

.navlink2 {
    display: none;
}

.quote {
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 10px 24px;
    background-color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    display: flex;
    gap: 25px;
    margin-left: 10px;

}

.quote:hover {
    background-color: black;
    color: white;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 60px 80px;
    background-color: #F3F3F3;
    border-radius: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.textcontent {
    justify-items: center;
}

.text-block {
    text-align: left;
    width: 100%;
}

.featured-content h2 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.2;
    text-align: left;
}

.featured-content p {
    line-height: 1.6;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;

}

.image-block img {
    width: 60%;
}

.image-block {
    justify-content: center;
    align-items: center;
}

.image-inline {
    display: none;
}

.image-inline img {
    width: 250px;
    border-radius: 15px;
    margin: 20px auto;
    display: block;
}

.image img {
    border-radius: 12px;
    height: auto;
    width: 50%;
}

.text-block {
    flex: 1;
    min-width: 280px;
}

.text-block h1 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.2;
}


.text-block p {
    color: #333;
    font-weight: 400;
}

.text-area h1 {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
    margin: 30px 0;
    margin-right: 30px;
    flex-wrap: wrap;
}

.text-area p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    display: flex;
    line-height: 1.6;
    margin-bottom: 20px;
    flex-wrap: wrap;

}

.text2 {
    display: flex;
    align-items: flex-start;
    background-color: #191A23;
    color: #fff;
    border-radius: 30px;
    padding: 30px 60px;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
}

.text-area2 img {
    width: 2%;
    align-items: center;
}


.text-area2 {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}

.star {
    width: 3%;

}

.star img {
    height: auto;
}

.featured-title {
    display: flex;
    align-items: center;
    gap: 10px;
    display: none;
}

.star-icon img {
    width: 40px;
    height: auto;
}

.star-icon {
    display: none;
}

.featured-heading {
    color: #B9FF66;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    display: none;
    align-items: center;

}

a.green {
    display: flex;
    width: 25%;

}

.featured-title h1 {
    color: #B9FF66;
    display: flex;
}

.green {
    background-color: #B9FF66;
    color: black;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    align-items: center;
}

.arrowandread {
    align-items: center;
    gap: 1px;
    display: flex;
}

.arrow {
    display: flex;
}


.read {
    font-size: 15px;
    color: #B9FF66;
    display: flex;
    align-items: center;
    font-weight: 600;

}

.text-area2 p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: lighter;
    display: flex;

}

.featured-out {
    display: flex;
}

.read-arrow {
    display: none;
}

@media(max-width:770px) {
    .fullpage {
        padding: 20px
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .quote {
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        height: 60px;
    }

    .navlink {
        display: none;
    }

    .navlink2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger-icon {
        display: block;
        line-height: 1;
        font-size: 30px;
    }

    .section {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .image-block {
        display: none;
    }

    .image-inline {
        display: block;
    }

    .image-inline img {
        width: 250px;
        border-radius: 15px;
        margin: 20px auto;
        display: block;
    }

    .image-block img {
        width: 250px;
        border-radius: 15px;
        margin: 20px auto;
        display: block;
    }

    .image img {
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
    }

    .text-block h1 {
        font-size: 28px;
        text-align: center;
        font-size: 28px;
        line-height: 1.3;
    }

    .text-block p {
        font-size: 16px;
        line-height: 1.5;
        max-width: 100%;
    }

    .text1 {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
        gap: 20px;
    }

    .text-area {
        max-width: 100%;
    }

    .text-area h1 {
        font-size: 20px;
    }

    .text-area p {
        font-size: 15px;
        line-height: 1.5;
        color: #000000;
    }

    .text2 {
        text-align: center;

    }

    .featured-out {
        flex-direction: column;
        align-items: center;
    }


    .featured-title {
        justify-content: center;
        gap: 10px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .featured-content h2 {
        font-size: 18px;
        width: 100%;

    }

    .featured-content p {
        font-size: 15px;
    }

    .star-icon {
        width: 22px;
        display: block;

    }

    .featured-heading {
        font-size: 28px;
        margin: 0;
        display: flex;
    }

    .read-btn {
        display: none;
    }

    .green {
        display: none;
    }

    .greentext {
        text-align: left;
    }

    .text-area2 {
        margin-left: 0;
        text-align: center;
    }

    .box {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .stat-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-height: 100%;
        gap: 15px;
        margin: 0 auto;

    }

    .arrow {
        width: 50%;
        text-align: center;
        margin-top: 20px;
    }

    .arrowandread {
        text-align: left;
    }

    .read-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0;
        color: #B9FF66;
        font-weight: 600;
        text-decoration: none;
        gap: 8px;
    }

    .read-arrow img {
        width: 5%;
    }
}

.read-btn {
    font-weight: 500;
    color: #B9FF66;
    text-decoration: none;
    font-size: 16px;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.stat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.box {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 45%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.box h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.box p {
    font-size: 14px;
    line-height: 1.3;
}