body {
    background-color: rgb(225, 222, 222);
    font-family: "Oxygen", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    width: auto;
    height: 28px;
}

.navlink {
    display: flex;
    gap: 20px;
}

.navlink a {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: 600;
    align-items: center;
}

.navlink a.orange {
    color: rgb(243, 93, 39);
    font-weight: 800;
}

.menulogo {
    width: 30px;
    height: auto;
}

.right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.phonelogo {
    display: flex;
}

.contactno {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

.contacttext {
    display: flex;
    font-size: 14px;
    font-family: "Oxygen", sans-serif;
}

.button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(191, 66, 25);
}

.menulogo {
    display: flex;
    flex-direction: column;
    gap: 1px;
    display: none;
}

.menulogo div {
    background-color: rgb(51, 51, 51);
    border-radius: 2px;
}

@media (max-width:1000px) {
    .navlink {
        display: none;
    }

    .menulogo {
        display: block;
        margin-left: 20px;
    }

    .right.button {
        display: none;
    }

    .button {
        display: none;
    }
}

@media (max-width:800px) {
    .button {
        display: none;
    }
}

@media (max-width:600px) {
    .phonelogo {
        display: none;
    }
}

@media (max-width:500px) {
    .contactno {
        display: none;
    }
}